body {
    background-color: rgb(0, 1, 53);
    color: rgb(185, 221, 255);
    font-family: sans-serif;
    max-width: 900px;
    margin: 0 auto;
    width: 75%;
}

h1 {
        font-size: 200%;
        font-family: "Special Gothic Expanded One", sans-serif;
}

h2 {
        text-align: center;
}

a, a.visited {
    color: rgb(103, 212, 255);
}
header {
    text-align: center;
}

p {
    font-size: larger;
}

footer {
    color:rgb(235, 210, 255);
    text-align: center;
}

figure {
    text-align: center;

}

figcaption {
    font-style: italic;
}

h3 {
    text-align: center;
}